:root {/*-- Sets color variables --*/
  --prime: #222;
  --text: #333;
  --rev-text: #EEE;
  --accent: #2E9CCA;
  --bg: #EEE;
}
body { /*-- Sets body defaults --*/
  padding: .25rem;
  font-size: 18px;
  color: var(--text);
  background-color: var(--prime);
  width: 98%;
  margin: 0 auto;
}
i.fas { /*-- adds a little padding left and right on fontawesome icons --*/
  padding: 0 .33em;
}
/*------------------
--  Nav Styles  --
------------------*/
.topnav { /*-- main navigation element --*/
  margin-top: -.25rem; /*-- uses negative margin to pull menu to top --*/
  padding-bottom: .5rem; /*-- creates a little space below nav --*/
  background-color: var(--prime);
  display: flex; /*-- creates a flex container --*/
  flex-direction: column; /*-- direction is for MOBILE screen sizes --*/
  justify-content: space-around; /*-- lays out menu items--*/
  align-content: center; /*-- vertically aligns menu items to center --*/
  z-index: 1000; /*-- makes navbar always sit in the front, on the z-axis--*/
  width: 100%; /*-- makes navbar occupy full width of the body --*/
}
a.nav-item {
  position: relative; /*-- overcomes negative margin in above rule --*/
  top: 4px; /*-- tweaks vertical position --*/
  text-align: center; /*-- center-aligns all text inside their boxes --*/
  padding: .75em 0; /*-- provides padding inside menu items --*/
  margin: auto 0; /*-- centers menu text vertically --*/
  color: var(--rev-text);
  transition: color 250ms ease-in-out; /*-- specifies transition, duration, and easing --*/
}
a.nav-item:hover {
  color: var(--accent);
  cursor: pointer; /*-- changes menu items to pointer on hover --*/
}
.label {
  font-size: 1rem;
}
.nav-item.trigram {
  display: none; /*-- hides trigram (hamburger menu button) by default --*/
  text-decoration: none; /*-- removes underline --*/
  font-size: 2rem; /*-- makes much larger than normal text--*/
}
/*-- Mobile Nav Queries --*/
/*--At screens BELOW 768px, hides nav menu items and displays trigram --*/
@media screen and (max-width: 767px) {
  .topnav a, .topnav span {display: none;}
  .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}
/*-- At screens BELOW 768px,  rules for mobile nav--*/
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;} /*-- vertically centers--*/
  .topnav.responsive a, .topnav.responsive span {display:inherit;} /*-- makes menu items visible --*/
  .topnav.responsive a:first-child {margin-top:1em;} /*-- adds space above first item --*/
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;} /*-- makes items visible (but not the trigram) and adds space above them--*/
  .topnav.responsive a.more {margin-bottom: 1em;} /*-- adds margin below bottom item --*/
  .topnav.responsive a.trigram {visibility:hidden; transition:none;} /*-- hides trigram when open --*/
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} /*-- replaces trigram sign with x-sign on mobile. --*/
}
/*-- At screens 768px and ABOVE, set normal menu defaults --*/
@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-between;}
}
/*-- Styles for slideshow --*/
.slideshow {
  background-color: var(--bg);
  padding: 1em;
}
.slideshow-wrapper {
  position: relative; /*-- this allows children to be position absolutely --*/
  margin: auto; /*-- simple centering method--*/  max-width: 100%; /*-- contrains slideshow on largest screens --*/
}
.slideshow-wrapper img {
  width: 100%; /*-- makes slideshow responsive in size --*/
}
.prev, .next {
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  width: auto; /*-- matches width of parent --*/
  padding: 16px; /*-- adds a little bit of space--*/
  margin-top: -22px; /*-- adjusts position by height of arrows --*/
  color: white; /*-- sets color for contrast --*/
  font-weight: bold; /*-- selects heavier font --*/
  font-size: 18px; /*-- sets arrow font size --*/
  transition: 0.6s ease; /*-- sets transition speed for arrow hover--*/
  border-radius: 0 3px 3px 0; /*-- slightly rounds inside borders --*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.next {
  right: 0; /*-- positions next arrow hard right --*/
  border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}
.captiontext {
  background: rgba(0,0,0,0.4); /*-- transparent black background --*/
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 22px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets caption padding --*/
  position: absolute; /*-- positions caption text absolutely--*/
  bottom: 8px; /*-- sets position 8px from bottom --*/
  width: 100%; /*-- sets width equal to container width --*/
  text-align: center; /*-- aligns text center --*/
}
.numberof {
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 12px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets numberof padding --*/
  position: absolute; /*-- positions numberof text absolutely--*/
  top: 0; /*-- sets position hard to the top--*/
}
.text-center {
  display: flex;
}
.indicator {
  cursor:pointer; /*-- changes hover cursor to the hand --*/
  height: auto; /*-- sets height of pics --*/
  width: 25%; /*-- sets width of pics --*/
  margin: 0 2px; /*-- adds margin between pics --*/
  background-color: #bbb; /*-- sets background color to light gray --*/
  display: inline-block; /*-- displays in a horizontal line --*/
  transition: all 250ms ease-in-out; /*-- allows opacity change to take time --*/
  opacity: .5;
}
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}
.active, .indicator:hover {
  opacity: 1; /*-- makes fully visible when hovered  --*/
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade; /*-- webkit prefix  --*/
  -webkit-animation-duration: 1.5s; /*-- webkit prefix --*/
  animation-name: fade; /*-- defines which animation to use --*/
  animation-duration: 1.5s; /*-- sets the duration --*/
}
@-webkit-keyframes fade { /*-- webkit prefix --*/
  from {opacity: .4;}
  to {opacity: 1;}
}
@keyframes fade { /*-- sets "fade" animation properties --*/
  from {opacity: .4;} /*-- sets start of animation --*/
  to {opacity: 1;} /*-- sets end of animation --*/
}
/* On smaller screens, hides slideshow */
@media only screen and (max-width: 767px) {
  .slideshow {display: none;}
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
@media only screen and (max-width: 1080px) {
  .grid-container {grid-template-columns: repeat(2, 1fr);}
}
@media only screen and (max-width: 550px) {
  .grid-container {grid-template-columns: 1fr;}
}
.card-wrap {
  border: 2px solid white;
  color: white;
  background: #333;
}
.thumb {
  padding-bottom: 56%;
  background-size: cover;
}
.thumb.one{background-image:url('../img/5.jpg');}
.thumb.two{background-image:url('../img/6.jpg');}
.thumb.three{background-image:url('../img/7.jpg');}
.thumb.four{background-image:url('../img/8.jpg');}
.thumb.five{background-image:url('../img/9.jpg');}
.thumb.six{background-image:url('../img/10.jpg');}
.thumb.seven{background-image:url('../img/11.jpg');}
.thumb.eight{background-image:url('../img/12.jpg');}
.thumb.nine{background-image:url('../img/13.jpg');}
.thumb.ten{background-image:url('../img/14.jpg');}
.thumb.eleven{background-image:url('../img/15.jpg');}
.thumb.twelve{background-image:url('../img/16.jpg');}
